@import "../../scss/abstract/fonts";
@import "../../scss/abstract/mixins";

.btn {
    position: relative;
    width: auto;
    height: 42px;
    text-align: left;
    margin-top: 30px;

    .content {
        border: 1px solid black;

        padding: 12px 20px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        text-transform: uppercase;

        font-family: $so;
        font-size: 11px;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 2px;

        cursor: pointer;
    }
}

@include tablet {
    .btn {
        position: relative;
        width: auto;
        min-height: 32px;
        text-align: left;
        margin-top: 24px;

        .content {
            border: 1px solid black;

            padding: 10px 20px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            text-transform: uppercase;

            font-family: $so;
            font-size: 11px;
            font-weight: 700;
            line-height: 11px;
            letter-spacing: 2px;

            cursor: pointer;
        }
    }
}

@include screen {
    .btn {
        height: 48px;
        margin-top: 36px;

        .content {
            background: none;
            font-size: 13px;
            line-height: 44px;
            padding: 14px 24px;

            .btn-slider {
                position: absolute;
                width: 0;
                height: 46px;
                left: 0px;
                bottom: 0;
                z-index: -1;
                background: black;
                border: none;
                -webkit-border-radius: 8px;
                border-radius: 8px;
                transition: 0.25s all ease-in-out;
                -webkit-transition: all 0.25s ease-in-out;
                -moz-transition: all 0.25s ease-in-out;
                -ms-transition: all 0.25s ease-in-out;
                -o-transition: all 0.25s ease-in-out;
            }
        }

        transition: 0.25s all ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;

        &:hover {
            .content {
                color: white;
                .btn-slider {
                    background: black;
                    width: calc(100%);
                    transition: 0.25s all ease-in-out;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                }
            }
        }
    }
}
