@import "../../scss/abstract/fonts";
@import "../../scss/abstract/mixins";

.contents {
    padding-bottom: 80px;
    .content {
        font-size: 15px;
        line-height: 22px;
        margin-top: 26px;
        font-family: $so;
    }
    .alert {
        font-size: 13px;
        font-family: $so;
        color: #575757;
        margin-top: 22px;
    }
}

@include screen {
    .contents {
        .content {
            margin-top: 40px;
            font-size: 18px;
            line-height: 27px;
        }
        .alert {
        }
    }
}
