@import "../scss/abstract/fonts";
@import "../scss/abstract/mixins";

.content-j {
    padding: 60px 0 0 0;
    width: 100%;
    overflow-x: hidden;
    .block {
        margin: 50px auto 0;
        .contents {
            padding-bottom: 0;
        }
    }
    .feature-image {
        width: 100%;
        margin: 40px 0 50px;
        display: flex;
        justify-content: center;
        width: calc(100% - 90px);
        margin: 0 auto;
    }
    .feature-content {
        width: calc(100% - 90px);
        .category {
            margin: 0;
            padding: 0;
            .menu-title {
                margin-left: 0;
            }
        }
    }
    .feature-menu {
    }
}

@include screen {
    .content-j {
        width: calc(100% - 212px);
        min-width: 988px;
        @include desktop {
            max-width: 988px;
        }
        padding: 120px 20px;
        margin: 0 auto;

        .feature-image {
            display: flex;
            justify-content: center;
        }
        .feature-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            .titles {
                .title {
                    width: 400px;
                }
            }
            .feature {
                width: 100%;
            }
            .feature-others {
                padding-left: 20px;
            }
        }
    }
}
