@import "../scss/abstract/fonts";
@import "../scss/abstract/mixins";

.intro-video-wrapper {
    position: relative;
    overflow: hidden;
    .intro-video-container {
        .title {
            margin: 100px 45px 40px;
            margin-top: 100px;
            margin-bottom: 40px;
            line-height: 1.2;
            width: 60%;
            font-size: 34px;
            font-family: $sssB;
        }
        .video-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .video-block {
                width: 37.5%;
                display: flex;
                flex-direction: column;
                .video {
                    position: relative;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover {
                        .thumb-nail {
                            transition: 1.5s all ease-out;
                            -webkit-transition: all 1.5s ease-out;
                            -moz-transition: all 1.5s ease-out;
                            -ms-transition: all 1.5s ease-out;
                            -o-transition: all 1.5s ease-out;
                            transform: scale(1.2);
                        }
                        .video-play-btn {
                            .youtube-pause {
                                display: none;
                            }
                        }
                    }
                    .thumb-nail {
                        object-fit: cover;
                    }
                    .video-play-btn {
                        position: absolute;
                        overflow: hidden;
                        z-index: 10;
                        width: 86px;
                        height: 86px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        .youtube-btn {
                            object-fit: none;
                            object-position: 10px 6px;
                            width: 172px;
                            height: 86px;
                            transform: scale(1.1);
                        }
                        .youtube-pause {
                        }
                        .youtube-play {
                            object-position: -62px 6px;
                        }
                    }
                    .video-btn-1 {
                    }
                    .video-btn-2 {
                    }
                }
                strong {
                    margin-top: 14px;
                    font-family: $sssB;
                    font-size: 10px;
                    text-align: center;
                }
            }
            .video-block:first-child {
                margin-right: 10px;
            }
        }
    }
    .youtube-video-container {
        position: fixed;
        z-index: 1200;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        background: black;
        .player {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;

            .iframe-youtube {
                width: 100%;
                height: 60vw;
                @include screen {
                    max-width: 988px;
                    height: 27vw;
                }
            }
        }
        .quit-btn {
            position: absolute;
            z-index: 1250;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            @include screen {
                width: 45px;
                height: 45px;
                top: 85%;
            }
            background: white;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            .quit-line {
                background: black;
                position: absolute;
                width: 1px;
                height: 12px;
                top: 50%;
                left: 50%;
                @include screen {
                    height: 20px;
                }
            }
            .left {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            .right {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            transition: 0.3s all ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
}

@include screen {
    .intro-video-wrapper {
        .intro-video-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
                margin: 140px auto 70px;
                font-size: 52px;
                width: 40%;
                transform: translateX(-34%);
            }
            .video-container {
                .video-block {
                    max-width: 272px;
                    .video {
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                    }
                    strong {
                        margin-top: 28px;
                        font-size: 18px;
                    }
                }
                .video-block:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
}
