@import "../scss/abstract/fonts";
@import "../scss/abstract/mixins";

.quote {
    padding: 0;
    .about-wrap {
        width: calc(100% - 70px);
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: row;

            li {
                padding: 0 5px;
                .box-text {
                    background-color: #fafafa;
                    padding: 19px 8px 12px;
                    min-height: 212px;

                    text-align: center;
                    font-family: $sssB;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    .device {
                        min-height: 32px;
                        font-size: 8px;
                        padding-bottom: 0;
                        line-height: 1.5;
                    }
                    .text {
                        min-height: 116px;
                        font-size: 12px;
                        line-height: 1.5;
                    }

                    .sub-text {
                        display: block;
                        // padding-bottom: 7px;
                        font-size: 14px;
                        line-height: 1.2;
                    }
                    .author {
                        font-size: 10px;
                        padding-bottom: 5px;
                    }
                }
                .quote-notice {
                    text-align: center;
                    font-size: 10px;
                    padding: 5px;
                    opacity: 0.9;
                    font-family: $so;
                    line-height: 1.4;
                }
            }
        }
    }
}

@include screen {
    .quote {
        .about-wrap {
            display: flex;
            justify-content: center;
            ul {
                width: 650px;
                display: inline-block;

                margin: 0 auto;

                display: flex;
                flex-direction: row;
                li {
                    width: 330px;
                    margin: 0 5px;
                    .box-text {
                        background-color: #fafafa;
                        padding: 45px 20px 34px;
                        min-height: 415px;

                        text-align: center;
                        font-family: $sssB;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        .device {
                            min-height: 50px;
                            font-size: 14px;
                            padding-bottom: 0;
                            line-height: 1.5;
                        }
                        .text {
                            min-height: 205px;
                            font-size: 20px;
                            line-height: 1.5;
                            margin-bottom: 36px;
                        }

                        .sub-text {
                            display: block;
                            padding-bottom: 5px;
                            font-size: 25px;
                            line-height: 1.2em;
                        }
                        .author {
                            font-size: 14px;
                            line-height: 9px;
                        }
                    }
                    .quote-notice {
                        text-align: center;
                        font-size: 14px;
                        padding: 10px 16px;
                        opacity: 0.9;
                        font-family: $so;
                        line-height: 1.4;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
