@import url("http://fonts.cdnfonts.com/css/samsung-sharp-sans");

@import url(//db.onlinewebfonts.com/c/03fe5644d1605049951f58ca7961c33f?family=Samsung+Sharp+Sans+Bold);
@import url(//db.onlinewebfonts.com/c/d4778ba833943c519b5eb3e971b562d3?family=Samsung+Sharp+Sans+Medium);
@import url(//db.onlinewebfonts.com/c/174b2ec3d1b18323f2021ce3fdda6028?family=SamsungOne);

/* font-family variables for test */

$sss: "Samsung Sharp Sans", sans-serif;
$sssB: "Samsung Sharp Sans Bold", sans-serif;
$sssM: "Samsung Sharp Sans Medium", sans-serif;
$so: "SamsungOne", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap");

// $sss: "Samsung Sharp Sans", sans-serif;
// $sssB: "Lexend Deca", sans-serif;
// $sssM: "Readex Pro", sans-serif;
// $so: "Hind Vadodara", sans-serif;
