@import "../../scss/abstract/fonts";
@import "../../scss/abstract/mixins";

.intro-header {
    width: calc(100% - 30px);
    position: relative;
    overflow: hidden;

    background-color: white;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    margin: 15px auto;

    display: flex;
    flex-direction: column;

    .contents {
        padding: 38px 20px 0;
        z-index: 11;

        .category {
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: white;
            font-family: $so;
            letter-spacing: 2px;
            line-height: 18px;
        }
        .title {
            margin-top: 8px;
            font-size: 28px;
            line-height: 34px;
            font-family: $sssB;
        }
        .desc {
            margin-top: 10px;
            max-width: 350px;
            font-size: 15px;
            line-height: 1.5;
            font-family: $so;
        }
        .btn {
            .content {
                border: 1px solid black;
                background: none;
                font-size: 11px;
            }
        }

        .qr {
            width: 80px;
            height: 80px;
            margin: 20px 10px 0;
        }
    }
    .image-container {
        position: relative;
        width: 100%;
        img {
            object-fit: cover;
        }
    }
}
@include mobile {
    .banner-4 {
        .contents {
            .btn {
                .content {
                    border: 1px solid white;
                    background: none;
                    font-size: 11px;
                }
            }
        }
    }
}

@include tablet {
    .intro-header {
        width: calc(100% - 10px);
        min-height: 38.9vw;
        -webkit-border-radius: 2.8vw;
        border-radius: 2.8vw;
        display: flex;
        flex-direction: row;
        align-items: center;

        .contents {
            padding: 4.2vw 6vw;

            .category {
                margin: 0;
                padding: 0;
            }
            .title {
                margin: 0;
                font-size: 23px;
                line-height: 1.2;
            }
            .banner-3 {
                font-size: 28px;
            }
            .btn {
                margin-top: 24px;
                .content {
                    font-size: 12px;
                    font-weight: 700;
                    .btn-slider {
                        border: none;
                    }
                }
            }
            .qr {
                width: 127px;
                height: 127px;
            }
        }
        .image-container {
            position: absolute;
            img {
                @include desktop {
                    transform: scale(1.07);
                    -moz-transform: scale(1.07);
                    -webkit-transform: scale(1.07);
                    -o-transform: scale(1.07);
                    -ms-transform: scale(1.07);
                }
            }
        }
    }
    .banner-4 {
        .contents {
            .btn {
                .content {
                    border: 1px solid white;
                    .btn-slider {
                        background: white;
                    }
                }
                &:hover {
                    .content {
                        color: black;
                    }
                }
            }
        }
    }
}

@include screen {
    .intro-header {
        width: calc(100% - 10px);
        min-height: 38.9vw;
        -webkit-border-radius: 2.8vw;
        border-radius: 2.8vw;
        display: flex;
        flex-direction: row;
        align-items: center;

        .contents {
            padding: 4.2vw 6vw;

            .category {
                margin: 0;
                padding: 0;
            }
            .title {
                margin: 0;
                font-size: 2.8vw;
                line-height: 1.2;
            }
            .banner-3 {
                font-size: 3.9vw;
            }
            .btn {
                margin-top: 24px;
                .content {
                    font-size: 13px;
                    font-weight: 700;
                    .btn-slider {
                        border: none;
                    }
                }
            }
            .qr {
                width: 127px;
                height: 127px;
            }
        }
        .image-container {
            position: absolute;
            img {
                @include desktop {
                    transform: scale(1.07);
                    -moz-transform: scale(1.07);
                    -webkit-transform: scale(1.07);
                    -o-transform: scale(1.07);
                    -ms-transform: scale(1.07);
                }
            }
        }
    }
    .banner-4 {
        .contents {
            .btn {
                .content {
                    border: 1px solid white;
                    .btn-slider {
                        background: white;
                    }
                }
                &:hover {
                    .content {
                        color: black;
                    }
                }
            }
        }
    }
}
