@import "../../scss/abstract/fonts";
@import "../../scss/abstract/mixins";

.nav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: white;
    z-index: 500;
    opacity: 0.9;
    .upper-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .logo-container {
            width: 120px;
            height: 20px;
            cursor: pointer;
            img {
                width: 120px;
                height: 20px;
            }
            @include mobile {
                display: none;
            }
        }
        .product-container {
            @include mobile {
                padding-left: 14px;
                transform: translateY(4px);
                -moz-transform: translateY(4px);
                -webkit-transform: translateY(4px);
                -o-transform: translateY(4px);
                -ms-transform: translateY(4px);
            }
            .product {
                font-size: 14px;
                line-height: 44px;
                font-family: $sssB;
                @include mobile {
                }
            }
            .arrow {
                margin-left: 5px;
                img {
                    width: 17px;
                    height: 17px;
                    transform: translateY(3px);
                    -moz-transform: translateY(3px);
                    -webkit-transform: translateY(3px);
                    -o-transform: translateY(3px);
                    -ms-transform: translateY(3px);
                }
                cursor: pointer;
            }
        }
        .menu-bar {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin-right: 12px;
            .menu-bar-block {
                position: relative;
                overflow: hidden;

                width: 36px;
                height: 36px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                .string {
                    width: 20px;
                    height: 2px;
                    background: black;
                    margin: 2.5px auto;
                }
            }
        }
    }
    .menu-dist-line {
        width: 95vw;
        height: 1px;
        margin: 0 auto;
        background: #bbb;
    }
    .lower-bar {
        height: 34px;

        .selected-bar {
            position: absolute;
            width: 56px;
            border-bottom: 1px solid #00b3e3;

            transform: translate(2.5vw, -2px);
            -moz-transform: translate(2.5vw, -2px);
            -webkit-transform: translate(2.5vw, -2px);
            -o-transform: translate(2.5vw, -2px);
            -ms-transform: translate(2.5vw, -2px);
        }
        .select-link {
            padding-left: 7px;
            span {
                font-size: 10px;
                line-height: 33px;
                height: 34px;
                font-family: $sssB;
                padding: 0 8px;
                cursor: pointer;
            }
        }
    }
}

@include laptop {
    .nav {
        .upper-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logo-container {
                flex: 1;
                width: 120px;
                height: 20px;
                margin: 0;

                transform: translate(2.5vw, 23px);
                -moz-transform: translate(2.5vw, 23px);
                -webkit-transform: translate(2.5vw, 23px);
                -o-transform: translate(2.5vw, 23px);
                -ms-transform: translate(2.5vw, 23px);
                img {
                    width: 114px;
                    height: 17px;
                }
            }
            .product-container {
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                .product-block {
                    transform: translate(7px, 6px);
                    -moz-transform: translate(7px, 6px);
                    -webkit-transform: translate(7px, 6px);
                    -o-transform: translate(7px, 6px);
                    -ms-transform: translate(7px, 6px);
                    .product {
                        font-size: 20px;
                        line-height: 56px;
                        font-family: $sssB;
                    }
                    .arrow {
                        margin-left: 15px;
                        img {
                            width: 23px;
                            height: 23px;
                            transform: translateY(5px);
                            -moz-transform: translateY(5px);
                            -webkit-transform: translateY(5px);
                            -o-transform: translateY(5px);
                            -ms-transform: translateY(5px);
                        }
                    }
                }
            }
            .menu-bar {
                flex: 1;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0;

                .menu-bar-block {
                    transform: translate(-1.7vw, 3px);
                    -moz-transform: translate(-1.7vw, 3px);
                    -webkit-transform: translate(-1.7vw, 3px);
                    -o-transform: translate(-1.7vw, 3px);
                    -ms-transform: translate(-1.7vw, 3px);
                    position: relative;
                    overflow: hidden;
                    width: 48px;
                    height: 48px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .string {
                        width: 26px;
                        height: 2.5px;
                        background: black;
                        margin: 3px auto;
                    }
                }
            }
        }
        .menu-dist-line {
            width: 95vw;
            height: 1px;
            margin: 0 auto;
            background: #bbb;
        }
        .lower-bar {
            width: 100%;
            height: 39px;
            display: flex;
            justify-content: center;

            .selected-bar {
                width: 72px;
                border-bottom: 3px solid #00b3e3;
                transform: translate(-11.3vw, -1px);
                -moz-transform: translate(-11.3vw, -1px);
                -webkit-transform: translate(-11.3vw, -1px);
                -o-transform: translate(-11.3vw, -1px);
                -ms-transform: translate(-11.3vw, -1px);
            }
            .select-link {
                text-align: center;
                margin: 0;
                padding: 0;
                display: inline-block;
                span {
                    font-size: 13px;
                    line-height: 38px;

                    font-family: $sssB;
                    padding: 0 12px;
                }
            }
        }
    }
}

@include desktop {
    .nav {
        .upper-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logo-container {
                flex: 1;
                width: 120px;
                height: 20px;
                margin: 0;

                transform: translate(2vw, 20px);
                -moz-transform: translate(2vw, 20px);
                -webkit-transform: translate(2vw, 20px);
                -o-transform: translate(2vw, 20px);
                -ms-transform: translate(2vw, 20px);
                img {
                    width: 140px;
                    height: 21px;
                }
            }
            .product-container {
                flex: 1;
                display: flex;
                justify-content: center;
                text-align: center;
                .product-block {
                    transform: translate(7px, 6px);
                    -moz-transform: translate(7px, 6px);
                    -webkit-transform: translate(7px, 6px);
                    -o-transform: translate(7px, 6px);
                    -ms-transform: translate(7px, 6px);
                    .product {
                        font-size: 20px;
                        line-height: 56px;
                        font-family: $sssB;
                    }
                    .arrow {
                        margin-left: 15px;
                        img {
                            width: 23px;
                            height: 23px;
                            transform: translateY(5px);
                            -moz-transform: translateY(5px);
                            -webkit-transform: translateY(5px);
                            -o-transform: translateY(5px);
                            -ms-transform: translateY(5px);
                        }
                    }
                }
            }
            .menu-bar {
                flex: 1;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0;

                .menu-bar-block {
                    transform: translate(-1.3vw, 3px);
                    -moz-transform: translate(-1.3vw, 3px);
                    -webkit-transform: translate(-1.3vw, 3px);
                    -o-transform: translate(-1.3vw, 3px);
                    -ms-transform: translate(-1.3vw, 3px);
                    position: relative;
                    overflow: hidden;
                    width: 48px;
                    height: 48px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .string {
                        width: 26px;
                        height: 2.5px;
                        background: black;
                        margin: 3px auto;
                    }
                }
            }
        }
        .menu-dist-line {
            width: 95vw;
            height: 1px;
            margin: 0 auto;
            background: #bbb;
        }
        .lower-bar {
            width: 100%;
            height: 39px;
            display: flex;
            justify-content: center;

            .selected-bar {
                width: 72px;
                border-bottom: 3px solid #00b3e3;
                transform: translate(-10.5vw, -1px);
                -moz-transform: translate(-10.5vw, -1px);
                -webkit-transform: translate(-10.5vw, -1px);
                -o-transform: translate(-10.5vw, -1px);
                -ms-transform: translate(-10.5vw, -1px);
            }
            .select-link {
                text-align: center;
                margin: 0;
                padding: 0;
                display: inline-block;
                span {
                    font-size: 13px;
                    line-height: 38px;

                    font-family: $sssB;
                    padding: 0 20px;
                }
            }
        }
    }
}
